---
// import astroLogo from '../assets/astro.svg';
// import background from "../assets/background.svg";
---

<div class="container">
	<a href="/vue-page">
		<button> Vue Page </button>
	</a>
	<a href="/react-page">
		<button> react Page </button>
	</a>
</div>

<style>
	.container {
		/* background: url(var(--background)); */
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		gap: 20px;
	}
</style>
